body{
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header section{
    margin-bottom: 0.3rem;
}
.logo{
    width: 10%;
    height: 5%;
    margin-top: 0.3rem;
}
.headerNavs ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.headerNavs ul li a{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 15px;
    margin-right: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
}
.row1 section p:first-child, .row3{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    line-height: 50px;
    margin: 100px;
    text-align: center;
}
.row1 section p:last-child{
    font-size: 15px;
    letter-spacing: 3px;
    margin: 100px;
    margin-top: 50px;
    text-align: center;
}
.row2{
    position: relative;
    display: flex;
    align-items: center;
}
.row2 section{
    position: absolute;
    color: rgba(245, 245, 245, 1);
    background-color: rgba(0, 0, 0, 0.39);
    padding-left: 100px;
    padding-right: 100px;
    width: fit-content;
}
.row2 section h2{
    font-size: 70px;
    letter-spacing: 5px;
    font-family: 'Monoton', cursive;
    text-transform: capitalize;
}
.row2 section p{
    font-size: 15px;
    padding: 5px;
    letter-spacing: 3px;
}
.row4{
    display: flex;
    overflow: auto;
    scrollbar-width: thin;
}
.row4 section img{
    border-radius: 50%;
    margin: 15px;
}
.socialIcons{
    text-align: center;
}
.socialIcons a{
    text-align: center;
    color: goldenrod;
    text-decoration: none;
    font-size: 30px;
    width: 30px;
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    transition: 500ms;
}
.socialIcons a:hover{
    color: whitesmoke;
    background-color: darkgoldenrod;
    opacity: 100%;
}